<% include ../partials/head %>

<% include ../partials/dialogs %>
<section class="sample-content">
    <h2>Load details</h2>
    <p class="subhead mdl-color-text--grey-700">Load details of <%= title %> from cache.</p>
    <TABLE class="mdl-data-table mdl-js-data-table" id="detail">
</section>


<% include ../partials/js %>
<script src="/js/detail.js"></script>

<% include ../partials/footer %>